<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row calendar-row">
                <div class="col-12">
                    <div *ngFor="let business of selectedOwnedBusiness" class="col-12">
                        <h2 style='text-align: center'>{{business.name.S}}</h2>
                    </div>
                </div>
                <div class="col-3">
                    <div>
                        <div style="display: block">
                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="calendar">
                        <full-calendar deepChangeDetection="true" #ownerCalendar
                            schedulerLicenseKey='GPL-My-Project-Is-Open-Source' defaultView="timeGridDay" [header]="{
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                            }" [plugins]="calendarPlugins" [editable]="true" [weekends]="calendarWeekends"
                            [events]="calendarEvents" [minTime]="calendarMinTime" [maxTime]="calendarMaxTime"
                            (dateClick)="handleDateClick($event)" (eventClick)="deleteEvent($event)">
                        </full-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>