<body>
  <div class="content">
    <div>
      <p> Here are the Businesses you Own! </p>
    </div>
    <div class="container-fluid data">
      <div class="row">
        <div *ngFor="let business of ownedBusinesses" class="col-3 cards">
          <mat-card class="card" (click)="cardClicked(business)">
            <mat-card-title>{{business.name.S}}</mat-card-title>
            <mat-card-subtitle>{{business.type.S}}</mat-card-subtitle>
            <mat-card-content>{{business.address.S}}</mat-card-content>
            <mat-card-content>{{business.city.S}}</mat-card-content>
            <mat-card-content>{{business.state.S}}</mat-card-content>
            <mat-card-content>{{business.postalCode.S}}</mat-card-content>
            <mat-card-content>{{business.country.S}}</mat-card-content>
            <mat-card-content>{{business.userName.S}}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</body>