<body>
    <div class="content">
        <div class="container-fluid">
            <div class="login">
                <div class="row loginContainer">
                    <div class="clientDisplay col-8 ">
                        <p>Connect With </p>
                        <div id="map"></div>
                    </div>
                    <div class="loginButton col-4 align-self-center">
                        <button type="button" (click)="signIn()" mat-flat-button
                            color="primary">Sign In With Facebook</button>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <script>src="src/assets/js/googleMaps.js"</script>
</body>