.login{
    padding-top: 20vh;
    text-align: center;
}

.clientDisplay{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: black;
    padding-left: 10%;

}

.loginButton{
    padding-top: 29vh;
}

#map{
    width: 100%;
}