<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="login col-8 offset-2 col-lg-4 offset-lg-5">
                    <form>
                        <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with"
                        data-auto-logout-link="false" data-use-continue-as="true"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>