.login{
    padding-top: 20vh;
    text-align: center;
}

.clientDisplay{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: black;

}

.loginContainer{
    height: 50vh;
}

#map{
    width: 100%;
}