.logo{
    top: 30%;
    position: absolute;
    align-content: center;
}

.searchBar{
    padding-top: 40%;
    align-content: center;
}

.jumbotron{
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: black;
}

.lead{
    font-family: Arial, Helvetica, sans-serif;
}

.data{
    margin-top: -15em;
}

.card{
    padding-left: 10px;
}

.cards{
    padding-bottom: 10px;
}