.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: black;
}

.navbar{
    position: absolute;
    width: 100vw;
}

.nav-item{
    color: black !important;
    text-align: right;
}

.active{
    font-weight: 900;
}

.userImage{
    margin-left: auto;
    border-radius: 20px; 
    height: 40px; 
    width: 40px;
}

.userName{
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
    font-weight: 100;
}