.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: white;
}

.navbar{
    position: absolute;
    width: 100vw;
}

.nav-item{
    color: white !important;
}

.active{
    font-weight: 900;
}